<div class="calendario-flutuante" onclick="abrirModal()">
  <div class="calendario-icone">
    <img src="../../assets/images/calendar_icon.png" alt="icone de contato">
  </div>
  <div class="calendario-texto">
    <a href="#">Consulte nossa disponibilidade</a>
  </div>
</div>

<!-- Modal Calendar-->
<div class="modal-overlay" id="modal">
  <div class="modal-content">
    <span class="fechar-modal" onclick="fecharModal()">&times;</span>

    <div class="modal-texts">
      <h3>Nossa disponibilidade para entregas</h3>
    </div>
    <div class="modal-texts">
      <p>
        Se houver disponibilidade, as entregas serão
        feitas depois de x horas após a confirmação
        do pagamento.
      </p>
    </div>
    <div class="modal-texts">
      <p>
        <div id="dot"></div>Dias indisponíveis
      </p>
    </div>
    <div class="calendar">
      <div class="calendar-header">Maio 2025</div>
      <div class="weekdays">
        <div>Dom</div>
        <div>Seg</div>
        <div>Ter</div>
        <div>Qua</div>
        <div>Qui</div>
        <div>Sex</div>
        <div>Sáb</div>
      </div>
      <div class="days">
        <!-- Maio 2025 começa em quinta-feira (index 4) -->
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <!-- Dias do mês -->
        <!-- Altere se precisar simular outro mês -->
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
        <div>9</div>
        <div>10</div>
        <div>11</div>
        <div>12</div>
        <div>13</div>
        <div>14</div>
        <div>15</div>
        <div>16</div>
        <div>17</div>
        <div>18</div>
        <div>19</div>
        <div>20</div>
        <div>21</div>
        <div>22</div>
        <div>23</div>
        <div>24</div>
        <div>25</div>
        <div>26</div>
        <div>27</div>
        <div>28</div>
        <div>29</div>
        <div>30</div>
        <div>31</div>
      </div>
    </div>
  </div>
</div>