<div class="footer">
    <div class="sections_footer">
        <div class="payment-methods">
            <h4>Formas de pagamento</h4>
            <div>
                <div class="methods-cards">
                    <img src="../../assets/images/visa_logo.png" alt="visa">
                </div>
                <div class="methods-cards">
                    <img src="../../assets/images/master_logo.png" alt="visa">
                </div>
                <div class="methods-cards">
                    <img src="../../assets/images/pix_logo.png" alt="visa">
                </div>
            </div>

        </div>
    </div>
    <div class="sections_footer" id="copyright">
        <p>&copy; Brinque e Brinde - CNPJ:00.000.000/0001-00 todos os direitos reservados 2025</p>
    </div>
    <div class="sections_footer">
        <h4>Segurança</h4>
        <div class="security">
            <div class="security-cards">
                <img src="../../assets/images/safe_icon.png" alt="visa">
            </div>
        </div>
    </div>

</div>