<header>
  <!-- ::mudança:: Melhorando a semântica com tags header e nav -->
  <div id="upper_header">
    <div class="upper_header_components">
      <div id="logo_container">
        <!-- ::mudança:: Adicionando link ao logo -->
        <a href="home.html">
          <img src="../../assets/images/logo.png" alt="Logo com três blocos coloridos">
        </a>
      </div>
    </div>
    <div class="upper_header_components">
      <input placeholder="Digite o que você procura" type="text" name="pesquisa" id="search"
        aria-label="Campo de pesquisa" />
    </div>
    <div class="upper_header_components" id="components_right">
      <div class="upper_header_components_right">
        <!-- ::mudança:: Adicionando title para melhorar acessibilidade -->


        <!-- ::CONTATOS -->
        <div class="whatsapp-wrapper">

          <a href="#" title="Entre em contato pelo WhatsApp">
            <img src="../../assets/images/whats_icon.png" alt="Contato via WhatsApp">
          </a>

          <!-- Dropdown que aparece no hover -->
          <div class="whatsapp-contacts">
            <div class="whatsapp-title">Nossos Contatos</div>

            <div class="whatsapp-contact">
              <a href="" target="_blank">
                <b>Whatapp:</b> <br>
                (88)8 9999-9999
              </a>
            </div>

            <div class="whatsapp-contact">
              <a href="" target="_blank">
                <b>Telefone:</b>
                (88)9 8888-8888
              </a>
            </div>

            <div class="whatsapp-contact">
              <a href="" target="_blank">
                <b>Email:</b>
                email@gmail.com
              </a>
            </div>

            <div class="whatsapp-contact">

              <b>Horários de atentimento:</b>
              Segunda a Sexta: <br>
              8:00h ás 17:00h

            </div>

          </div>
        </div>

      </div>

      <div class="upper_header_components_right">
        <!-- ::USUARIO -->
        <div class="acount-wrapper">

          <a href="#" title="Entre em contato pelo WhatsApp">
            <img src="../../assets/images/user_icon.png" alt="Contato via WhatsApp">
          </a>

          <!-- Dropdown que aparece no hover -->
          <div class="acount-drop">
            <div class="acount-title">Usuário</div>

            <div class="acount-option">
              <a href="" target="_blank">
                Cadastrar
              </a>
              <a href="" target="_blank">
                Entrar
              </a>
            </div>

          </div>
        </div>

      </div>

      <div class="upper_header_components_right">
        <a href="#" title="Carrinho de compras">
          <img src="../../assets/images/kart_icon.png" alt="Carrinho de compras">
          <!-- ::mudança:: Adicionando badge para o carrinho -->
          <span class="cart-badge">0</span>
        </a>
      </div>

    </div>
  </div>

  <!-- nav bar -->
  <nav class="menu">
    <ul class="menu-list">
      <li class="menu-item">
        <a href="#">Tema 1</a>
        <ul class="submenu">
          <li><a href="#">Tema 1a</a></li>
          <li><a href="#">Tema 1b</a></li>
          <li><a href="#">Tema 1c</a></li>
          <li><a href="#">Tema 1d</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#">Tema 2</a>
        <ul class="submenu">
          <li><a href="#">Tema 2a</a></li>
          <li><a href="#">Tema 2b</a></li>
          <li><a href="#">Tema 2c</a></li>
          <li><a href="#">Tema 2d</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#">Tema 3</a>
        <ul class="submenu">
          <li><a href="#">Tema 3a</a></li>
          <li><a href="#">Tema 3b</a></li>
          <li><a href="#">Tema 3c</a></li>
          <li><a href="#">Tema 3d</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#">Tema 4</a>
        <ul class="submenu">
          <li><a href="#">Tema 4a</a></li>
          <li><a href="#">Tema 4b</a></li>
          <li><a href="#">Tema 4c</a></li>
          <li><a href="#">Tema 4d</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#">Tema 5</a>
        <ul class="submenu">
          <li><a href="#">Tema 5a</a></li>
          <li><a href="#">Tema 5b</a></li>
          <li><a href="#">Tema 5c</a></li>
          <li><a href="#">Tema 5d</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
