<header>
  <div id="upper_header">
    <div class="upper_header_components">
      <div id="logo_container">

        <a href="home.html">
          <img src="../../assets/images/logo.png" alt="Logo com três blocos coloridos">
        </a>
      </div>
    </div>
    <div class="upper_header_components">
      <input placeholder="Digite o que você procura" type="text" name="pesquisa" id="search"
        aria-label="Campo de pesquisa" />
    </div>
    <div class="upper_header_components" id="components_right">
      <div class="upper_header_components_right">



        <!-- ::CONTATOS -->
        <div class="whatsapp-wrapper">

          <a href="#" title="Entre em contato pelo WhatsApp">
            <img src="../../assets/images/whats_icon.png" alt="Contato via WhatsApp">
          </a>

          <!-- Dropdown que aparece no hover -->
          <div class="whatsapp-contacts">
            <div class="whatsapp-title">Nossos Contatos</div>

            <div class="whatsapp-contact">
              <a href="" target="_blank">
                <b>Whatapp:</b> <br>
                (88)8 9999-9999
              </a>
            </div>

            <div class="whatsapp-contact">
              <a href="" target="_blank">
                <b>Telefone:</b>
                (88)9 8888-8888
              </a>
            </div>

            <div class="whatsapp-contact">
              <a href="" target="_blank">
                <b>Email:</b>
                email@gmail.com
              </a>
            </div>

            <div class="whatsapp-contact">

              <b>Horários de atentimento:</b>
              Segunda a Sexta: <br>
              8:00h ás 17:00h

            </div>

          </div>
        </div>

      </div>

      <div class="upper_header_components_right">
        <!-- ::USUARIO -->
        <div class="acount-wrapper">

          <a href="#" title="Entre em contato pelo WhatsApp">
            <img src="../../assets/images/user_icon.png" alt="Contato via WhatsApp">
          </a>

          <!-- Dropdown que aparece no hover -->
          <div class="acount-drop">
            <div class="acount-title">Usuário</div>

            <div class="acount-option">
              <a href="" target="_blank">
                Cadastrar
              </a>
              <a href="" target="_blank">
                Entrar
              </a>
            </div>

          </div>
        </div>

      </div>

      <div class="upper_header_components_right">
        <a href="../../pages/user/cart.html" title="Carrinho de compras">
          <img src="../../assets/images/kart_icon.png" alt="Carrinho de compras">
          <!-- Adicionando badge para o carrinho -->
          <span class="cart-badge">0</span>
        </a>
      </div>

    </div>
  </div>

  <!-- nav bar -->
  <nav class="menu">
    <ul class="menu-list">
      <li class="menu-item">
        <a href="#">Tema Menina</a>
        <ul class="submenu">
          <li><a href="#">Princesas</a></li>
          <li><a href="#">Unicórnio e Arco-íris</a></li>
          <li><a href="#">Barbie</a></li>
          <li><a href="#">Bailarina</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#">Tema Menino</a>
        <ul class="submenu">
          <li><a href="#">Super-heróis</a></li>
          <li><a href="#">Dinossauros</a></li>
          <li><a href="#">Carros e Corrida </a></li>
          <li><a href="#">Futebol</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#">Tema Jovens e adultos</a>
        <ul class="submenu">
          <li><a href="#">Animes e Séries</a></li>
          <li><a href="#">TikTok e Redes Sociais</a></li>
          <li><a href="#">Games</a></li>
          <li><a href="#">Anos 80/90</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#">Tems Sazonais</a>
        <ul class="submenu">
          <li><a href="#">Carnaval</a></li>
          <li><a href="#">Páscoa</a></li>
          <li><a href="#">TFesta Junina</a></li>
          <li><a href="#">Halloween</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#">Todos os temas</a>
        <ul class="submenu">
          <li><a href="#">Mais vendidos</a></li>
          <li><a href="#">A-Z</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>