.footer {
  display: flex;
  background-color: grey;
  padding: 10px;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
}

.sections_footer{
 display: flex;
 flex-direction: column;
 gap: 5px;
 align-items: center;
 
}

.payment-methods{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.payment-methods div{
  display: flex;
  gap: 5px;
}

.methods-cards img{
  width: 50px;
  height: auto;
  border-radius: 5px;
}
#copyright{
  color: rgb(29, 29, 29);
  margin-left: 10px;
  margin-right: 10px;
}
.security-cards img{
  width: 150px;
  height: auto;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
}